<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>canvas-datagridのサンプル(WebComponents版)</title>

    <script src="../../node_modules/canvas-datagrid/dist/canvas-datagrid.js"></script>
</head>
<body>
    <h1>canvas-datagridのサンプル(WebComponents版)</h1>
    <canvas-datagrid style="--cdg-cell-color: darkblue;">[
            {"col1": "row 1 column 1", "col2": "row 1 column 2", "col3": "row 1 column 3"},
            {"col1": "row 2 column 1", "col2": "row 2 column 2", "col3": "row 2 column 3"}
        ]</canvas-datagrid>
</body>
</html>
