<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ag-gridのサンプル</title>

    <script src="../../node_modules/ag-grid/dist/ag-grid.min.js"></script>
</head>
<body>
    <h1>ag-gridのサンプル</h1>
    <div id="grid" style="height: 115px; width:500px;"
         class="ag-fresh"
         enable-col-resize
         enable-sorting
         enable-filter></div>

    <script>
        // You can also require other files to run in this process
        require('./index.js')
    </script>
</body>
</html>
